.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 687px) {
  .header {
    justify-content: center;
    padding: 0;
  }
}
